<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested URI is not /public or not a direct file, rewrite to index.php
    RewriteCond %{REQUEST_URI} !^/public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    # Otherwise, serve content from /public folder
    RewriteCond %{REQUEST_URI} ^/public
    RewriteRule ^public/(.*)$ public/$1 [L]
</IfModule>
